
section.main-graphics{
		width:100%;
	    margin:0;
	    padding:0px 0 70px 0;
		
		.container{
			min-height: 40px;
		}
}


div.masthead{
    position:relative;
    margin-top:0px;
	&.full-bleed{
		margin-top: -30px;
		.masthead-contents{
			position:absolute;
			top:20px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			padding-bottom:0px !important;
			@media (max-width: 480px){
				position:relative;
				top:0;
			}
		}
	}
}


	

h2{
	font-size:1.55em;
	font-family: 'Source Sans Pro', Helvetica, Arial sans-serif;
}



h4{
	font-size:1.2em;
	font-family: 'Source Sans Pro', Helvetica, Arial sans-serif;

}

h4 a{
    color:black;
}
h4 a:hover{
    color:#0080c3;
}

h5{
	font-size:1em;
	text-transform:uppercase;
	font-family: 'Source Sans Pro', Helvetica, Arial sans-serif;
}

p{
	font-size:1em;
	font-family: 'Source Sans Pro', Helvetica, Arial sans-serif;
 	
}

img {
	width:100%;
}

.note{
	font-size:0.85em;
}


.inline{
	display: inline-block;
}


.date{
	margin:0;
	color:#A7A9AC;

}
.headline{
	margin:0;
}

.authorname{
	margin:0;
	padding-right: 6px;
	margin-top:5px;
	margin-bottom: 4px;
}

.straps{
	margin: 0;
	margin-bottom:8px;
	font-weight: 600;
	color:#0F519F;
}

.linebreak{
	margin-top: 24px;
	margin-bottom: 25px;
	color: #A7A9AC;
}




.button-row{
	background: none;
	border: none;
	display:inline-block;
	cursor:pointer;
	vertical-align: top;
	transition:background-color 0.25s, color 0.25s;
	-webkit-transition:background-color 0.25s, color 0.25s;
	font-weight: 400;
	color:#8C8F90;
	margin-bottom: 10px;
	padding:0px;
	text-transform: uppercase;
}
.selected{
	color:black;
}


.switch-chart{
    display:hidden;
    
}
